nav {
    height: 100px;
    
}

.logo{
    padding-top: 32px;
    width: 50%;
}

.big_letter {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 17px;
}