nav {
    height: 100px;
    
}


.logo{
    padding-top: 32px;
    width: 50%;
}

.big_letter {
    position: relative;
    top: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    font-weight: bolder;
    
    
}

.login,
.register {

    /* font-family: 'Kaushan Script', cursive; */
    font-size: 16px;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
    padding-top: 18px;
}

.login:hover,
.register:hover {
    -webkit-box-shadow: 1 1px #e53935;
	-moz-box-shadow: 1 1px #e53935;
    box-shadow: 1 1px #e53935;
    height: 100px;


}

/* @media screen and (max-width: 550px) {
	.big_letter {
        position: relative;
        left: 250px;
	}
} */

@media screen and (max-width: 595px) {
	.big_letter {
        font-size: 30px;
    }
    
    h4 {
        text-align: center;
        padding: 30px;
        font-size: 20px;
    }
    .brand-logo {
        width: 90%;
        padding: 10px;
    }
    .login,
    .register {
        position: relative;
        left: 100px;
        /* font-family: 'Kaushan Script', cursive; */
        font-size: 14px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding-top: 65px;
        
    }
    .login:hover,
    .register:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;


    }

}

/* @media screen and (max-width: 370px) {
	.big_letter {
        position: relative;
        text-align: center;
    }

    .brand-logo {
        display: none;
    }

    
    h4 {
        position: relative;
        padding: 30px;
        font-size: 10px;
    }
} */